@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
    
    
    
}

body{
  background-color: #2e3435;

}

.backvideo{
  position: absolute;
  background-size: cover;

  min-height: 100vh;
  width: 100%;
  z-index: -1;
  
}


header{
    position: static;
    overflow: hidden;
    
    width: 100%;
    padding: 20px 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
    box-shadow: 0px 1px 2px rgba(0,255,255,0.5), 
                0px 2px 4px rgba(0,255,255,0.5), 
                0px 4px 8px rgba(0,255,255,0.5), 
                0px 8px 16px rgba(0,255,255,0.5);
}
.logo{
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

nav a{
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
   
}


nav a:hover,
nav a.active{
    color: #0ef;
}

h2{
    text-align: center;
    font-family: Montserrat;
    font-size: 50px;
    color: black;
}

.picture{
    height: 65%;
    width: 100%;
    z-index: -1;
    position: absolute;
}

.main-container{
    height: 200px;
    width: 200px;
    background: transparent;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
}

    /* gario  profile card */
.container{
    width: 17%;
    height: fit-content;
    background: radial-gradient(#0b2830,#fff);
    display: flex;
    align-items: center;
    justify-content: center;
    background: #222;
    transition: box-shadow 0.5s;
    border: none;
    border-radius: 10px;
    padding: 1px;
    background-position: center;
    background-size: cover;
    transition: transform 0.80s;
  
}

.container:hover{
    box-shadow: 0px 1px 2px rgba(255,0,0), 
    0px 2px 5px rgba(255,0,0), 
    0px 4px 15px rgba(255,0,0), 
    0px 8px 30px rgba(255,0,0);
    transform: scale(1.1);
}

.profile-card{
    width: 105%;
    background: #222;
    text-align: center;
    background: #222;
    color: #333;
    margin-top: 5%;
    margin-bottom: 5%;
}

.cover-pic{
    display: block;
    width: 100%;
}
.cover-pic:hover{
    transform: translateZ(1.5em);
}

.profile-pic{
    width: 140px;
    border-radius: 50%;
    margin-top: -70px;
    transition: box-shadow 0.5s;
    transition: transform 0.70s;
    box-shadow: 1px 1px 2px rgba(0,255,255,0.5), 
                1px 2px 4px rgba(0,255,255,0.5), 
                1px 4px 8px rgba(0,255,255,0.5), 
                1px 8px 16px rgba(0,255,255,0.5);
    
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

.profile-pic:hover{
    box-shadow: 0px 1px 2px rgba(0,255,255,0.5), 
    0px 4px 8px rgba(0,255,255,0.5), 
    0px 8px 16px rgba(229, 255, 0, 0.888), 
    0px 16px 32px rgba(255, 0, 234, 0.914);
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

.profile-card h1{
    font-weight: 600;
    font-size: 20px;
    margin-top: 5px;
    color: #fff;
    text-shadow: 2px 4px 8px red;
    letter-spacing: 1px;


}

span{
    font-size: 11px;
    font-weight: 500;
    text-align: left;
    color: #fff;
    
}
li{
    margin-left: 15%;
    line-height: 13px;
    margin-top: 3px;
}


.profile-card p{
    font-size: 11px;
    font-weight: 500;
    margin-top: 5px;
    color: #fff;
}

.social-media{
    display: inline-block;
    text-decoration: none;
    font-family: ephesis;
    font-size: 21px;
    border: none;
    border-radius: 20px;
    color: #fff;
    padding: 5px 25px;
    margin: 25px 0;
    background-color: #0b2830;
}

.social-media:hover{
    background-color: rgb(60, 137, 143);
    transition: 0.3s;
    box-shadow: 0 0 3px blue;
    border: 1px solid #ff004f;
}

.row{
    display: flex;
    justify-content: space-around;
}

.row h2{
    font-weight: 500;
    font-size: 30px;
}

/* view profile  */
.view-btn{
    display: inline-block;
    text-decoration: none;
    background: linear-gradient(60deg, #f79533, #f37055,
                                    #ef4e7b, #a166ab, #5073b8, 
                                    #1098ad, #07b39b, #6fba82);
    position: relative;
    color: #fff;
    width: 100%;
    padding: 15px 0;
    
    transition: .03s;
    border-radius: 10px;

}   

.view-btn:hover{
    background: #0ef;
    color: black;
    
}

/* Glowing Button */
:root {
  --glow-color: hsl(186 100% 69%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.logo {
  position: relative;
  color: var(--glow-color);
  cursor: pointer;
  padding: 0.35em 1em;
  border: 0.15em solid var(--glow-color);
  border-radius: 0.45em;
  background: none;
  perspective: 2em;
  letter-spacing: 5px;

  -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  animation: border-flicker 2s linear infinite;
}

.logo::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  filter: blur(1em);
  transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
  background: var(--glow-color);
  pointer-events: none;
}

.logo::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background-color: var(--glow-color);
  box-shadow: 0 0 2em 0.2em var(--glow-color);
  transition: opacity 100ms linear;
}

.logo:hover {
  color: rgba(0, 0, 0, 0.8);
  text-shadow: none;
  animation: none;
}

.logo:hover .glowing-txt {
  animation: none;
}

.logo:hover .faulty-letter {
  animation: none;
  text-shadow: none;
  opacity: 1;
}

.logo:hover:before {
  filter: blur(1.5em);
  opacity: 1;
}

.logo:hover:after {
  opacity: 1;
}

@keyframes faulty-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 0.1;
  }
  4% {
    opacity: 0.5;
  }
  19% {
    opacity: 0.5;
  }
  21% {
    opacity: 0.1;
  }
  23% {
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  83% {
    opacity: 0.4;
  }

  87% {
    opacity: 1;
  }
}

@keyframes text-flicker {
  0% {
    opacity: 0.1;
  }

  2% {
    opacity: 1;
  }

  8% {
    opacity: 0.1;
  }

  9% {
    opacity: 1;
  }

  12% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 1;
  }

  70% {
    opacity: 0.7;
  }
  72% {
    opacity: 0.2;
  }

  77% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.9;
  }
}

@keyframes border-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 1;
  }
  4% {
    opacity: 0.1;
  }

  8% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

.bottom{
    background: #585656;
    width: 100%;
    height: fit-content;
    align-items: bottom;
    border-top: 2px solid #ada7a7;
    position: relative;
    margin-top: auto;
    
    border-radius: 2px;
     padding: 10PX;

   box-shadow: 0 0 2em 0.2em var(--glow-color);
    
}



  li{
    list-style: none;
    margin: 8px;
  }

  ul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10%;
    
  }

  
 img {
  list-style: none;
  height: fit-content;
  width: 50px;
  box-shadow: 1px 1px 2px rgba(0,255,255,0.5), 
                1px 2px 4px rgba(0,255,255,0.5);
  border-radius: 10px;
}
img:hover{
  box-shadow: 1px 1px 2px rgba(0,255,255,0.5), 
                1px 2px 4px rgba(0,255,255,0.5), 
                1px 4px 8px rgba(0,255,255,0.5), 
                1px 8px 16px rgba(0,255,255,0.5);
}

li span{
  background-color: #1098ad;
  border:none;
  position: relative;
  margin-bottom: 5px;

}

ul span{
  color: #fff;
  font-size: 12px;
}

.w3s{
  height: 50px;
  width: 50px;
}

@media (max-width: 480px){


  .backvideo{
    position: fixed;
    min-height: 100vh;
    width: 100%;
    margin-top: 20%;
  }

  .logo{
    font-size: 15px;
    text-align: center;
  }

 
  .main-container{
    
    position: relative;
    display:block;
  
  }
  .container{
    width: 20%;
    align-items: center;
   
    justify-content: space-between;
    margin: auto;
    margin-top: 5%;
   
    
  }


  nav a{
    
    font-size: 10px;
    display: inline-flex;
    margin-right: -25px; 
  }
  .profile-pic{
    width: 50px;
}
.cover-pic{
  border-radius: 5px;
}
.profile-card h1{
  font-size: 8px;
}
span, .profile-card p{
  font-size: 5px;
}


ul span{
  font-size: 8px;
}



img {
  width: 30px;
}

h6{
  font-size: 8px;
}

.w3s{
  height: 30px;
  width: 30px;
}

.social-media{
  font-size: 10px;
  margin-top: 5%;
  margin-bottom: 15px;
}
.view-btn{
 font-size: 5px;;
}
}

